@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700;800&display=swap');
*{
    font-family: "montserrat";
    
}
html, .fullscreen {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
body{
    background-color: #90e0ef;
}


.titulo{
color:#575EFC ;
}